@import url('https://fonts.googleapis.com/css?family=Montserrat');

*, body {
  margin: 0;
  padding: 0;
}

header{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  padding: 35px 0;
}

section {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-betwen;
  align-content: center;
  align-items: center;
  padding: 20px 0;
}

.photo {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-betwen;
  align-content: center;
  align-items: center;
  width: 100vh;
  background: #2E7D32;

}

.photo img {
  position: relative;
  opacity: 0.5;
  width: 100%;
}

.photo span {
  position: absolute;
  top: 100vh;
  color: #fff;
  font-size: 35px;
}

.false {
  background: #D50000;
}

.input-file {
  margin-top: 10px;
  display: none;

}

.label {
  align-self: flex-end;
  font-size: 20px;
}

footer {
  font-size:8px;
  margin-top: 20px;
}
